# Default values for sck-otel.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

# Splunk HEC configuration
splunk_hec:
  # Required. URL to a Splunk instance to send data to. ie) "http://X.X.X.X:8088/services/collector"
  endpoint: "https://host.docker.internal:8088/services/collector"
  # Required. Splunk HTTP Event Collector token.
  token: "dd83f8e8-3d9a-4116-a59c-1a2fd99f7dce"
  # Optional. Name of the Splunk index targeted.
  index:
  # Optional. Default value for `source` field.
  source: "kubernetes"
  # Optional. Default value for `sourcetype` field. For container logs, it will be container name.
  sourcetype:
  # Maximum HTTP connections to use simultaneously when sending data. Defaults to 200.
  max_connections: 200
  # Whether to disable gzip compression over HTTP. Defaults to true.
  disable_compression: true
  # HTTP timeout when sending data. Defaults to 10s.
  timeout: 10s
  # Whether to skip checking the certificate of the HEC endpoint when sending data over HTTPS. Defaults to true.
  insecure_skip_verify: false
  # The PEM-format CA certificate for this client.
  # NOTE: The content of the certificate itself should be used here, not the file path.
  #       The certificate will be stored as a secret in kubernetes.
  clientCert:
  # The private key for this client.
  # NOTE: The content of the key itself should be used here, not the file path.
  #       The key will be stored as a secret in kubernetes.
  clientKey:
  # The PEM-format CA certificate file.
  # NOTE: The content of the file itself should be used here, not the file path.
  #       The file will be stored as a secret in kubernetes.
  caFile:

# Persistent storage path for storing checkpoints
checkpointPath: "/var/lib/otel_pos"

# Configurations for container logs
containers:
  enabled: true
  # Container runtime. One of `docker`, `cri-o`, or `containerd`
  containerRuntime: docker
  # Path of container log files, default /var/log/pods/*/*/*.log
  # The file format is /var/log/pods/<namespace_name>_<pod_name>_<pod_uid>/<container_name>/<run_id>.log
  path: /var/log/pods/*/*/*.log
  # Paths of logfiles to exclude. object type is array:
  exclude_paths: []
  #  - /var/log/pods/kube-system_*.log (to exclude `kube-system` namespace)
  # Boolean for ingesting the agent's own log
  excludeAgentLogs: false
  # Extra operators for container logs. https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/README.md#what-operators-are-available
  extraOperators: []
  # Boolean for enriching container logs with k8s metadata (labels, annotations, etc)
  enrichK8sMetadata: true
  # List of annotation and label fields to enrich with
  listOfAnnotations:
    - key: splunk.com/index
    - key: splunk.com/sourcetype
    - key: splunk.com/exclude
  listOfLabels:
    - key: app
  multilineSupportConfig: []

# List of key/value pairs for metadata purpose.
# Can be used to define things such as cloud_account_id, cloud_account_region, etc.
customMetadata: {}
#  cloud_account_id: "1234567890"

# Batch configuration
# https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor
batch:
  send_batch_size: 8192
  timeout: 200ms
  send_batch_max_size: 0

image:
  repository: otel/opentelemetry-collector-contrib
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
imagePullSecrets: []

# OpenTelemetry Collector executable
command:
  name: otelcontribcol
  extraArgs: []

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podSecurityContext: {}
securityContext:
  runAsUser: 0
podAnnotations: {}

nodeSelector: {}
tolerations: []
affinity: {}

extraEnvs: []

# Configuration for tailing additional files
# extraHostPathMounts:
#   - name: nginx
#     hostPath: /nginx
#     mountPath: /nginx
extraHostPathMounts: []

# Specify configuration for any files other than container log files
# ref: https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/file_input.md
extraHostFileConfig: {}

# Sample configuration to collect Audit logs. Please note mountPath and hostPath can vary depending on the audit-policy.yaml configuration.
# extraHostPathMounts:
#  - name: audit-log
#    hostPath: /var/log/kubernetes/apiserver
#    mountPath: /var/log/kubernetes/apiserver
#
# extraHostFileConfig:
#  filelog/audit-log:
#    include: [/var/log/kubernetes/apiserver/audit.log]
#    start_at: beginning
#    include_file_path: true
#    include_file_name: false
#    resource:
#      service.name: /var/log/kubernetes/apiserver/audit.log
#      host.name: 'EXPR(env("KUBE_NODE_NAME"))'
#      com.splunk.sourcetype: kube:apiserver-audit

extraHostFileExporters: {}

secretMounts: []

resources:
  limits:
    cpu: 256m
    memory: 512Mi

# Configuration override that will be merged into the agent's default config
# Example - this will add `logging` exporter for container logs
# configOverride:
#   exporters:
#     logging/container:
#       loglevel: info
#   service:
#     pipelines:
#       logs/container:
#         exporters:
#           - logging/container
#           - splunk_hec
configOverride: {}
